body {
background:#023334;
color:white;
font-family:sans-serif;
font-size:12pt; line-height: 3ex;
margin: 10px auto; padding: 0;
width: 705px;
}

a {
color:cyan;
text-decoration:none;
}

a:visited { color:#BBF; }
a:hover { text-decoration: underline; }

img#Logo {
margin-top:20px;
width:700px; height:124px;	
}

div#MantisHead {
border:2px cyan solid;
background:url("mantis_black_bg.png");
margin:10px auto;
width:700px; height:700px;
}